h1 {
  color: rgb(40, 83, 163);
}

.random h1 {
  color: darkmagenta;
}

* {
  font-size: 20px;
}

.my-list + ul {
  list-style: none;
}

.nav-links > li {
  color: fuchsia;
}
.links li:nth-child(1) {
  color: greenyellow;
}
