* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

button {
  padding: 2rem 4rem;
}

button:hover {
  background: lightslategray;
  padding: 2rem 7rem;
}

button:focus {
  background: rgb(55, 145, 89);
  padding: 2rem 7rem;
}

input:focus {
  background: rgb(55, 145, 89);
  padding: 2rem 7rem;
}

button:nth-child(3) {
  padding: 2rem 7rem;
  cursor: pointer;
}

h1 {
  font-size: 4rem;
}

h1::before {
  content: " Before ";
}

h1::after {
  content: " me";
}
