* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 200%;
}

.container {
  background: cadetblue;
  width: 80%;
  height: 80%;
  margin: auto;
  position: relative;
}

.box1,
.box2,
.box3 {
  width: 10%;
  height: 10%;
  background: rgb(164, 52, 255);
}

.box2 {
  background-color: rgb(63, 255, 223);
  position: relative;
  left: 3rem;
}

.box3 {
  background-color: rgb(29, 29, 29);
  position: sticky;
  top: 0%;
}

.box1 {
  position: absolute;
  bottom: 0%;
  right: 0%;
}
